.page-wrapper {
  width: 100%;
  max-width: 1200px;   /* 💡 evita que las cards se estiren demasiado */
  margin: 0 auto;      /* 💡 centra todo */
  padding: 20px;       /* 💡 agrega espacio a los lados */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  margin-bottom: 20px;
}

/* ============================= */
/* 📌 GRID RESPONSIVE */
/* ============================= */
.stations-container {
  display: grid;
  grid-template-columns: 1fr; /* Mobile */
  gap: 30px;
  margin-bottom: 10px;
}

/* Tablet */
@media (min-width: 1024px) {
  .stations-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.page-wrapper a {
    color: #E100FF;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    font-size: 2rem;
}

.page-wrapper a b {
    color: #E100FF;
    text-decoration: none;
    font-weight: 800;
    transition: 0.3s;
    font-size: 2rem;
}

.page-wrapper a:hover {
    text-shadow: 0 0 10px #E100FF;
    cursor: pointer;
}

.more-div {
    display: flex;
    justify-content: center;
    align-items: center;
}