<div class="form-container">
    <p-toast />

    <h1>Iniciar sesión</h1>

    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="form">

        <div class="form-group">
            <input type="text" formControlName="username" placeholder="Nombre de usuario" />
            <div class="error" *ngIf="loginForm.get('username')?.touched">
                <small *ngIf="loginForm.get('username')?.hasError('required')">
                    El nombre de usuario es obligatorio.
                </small>
                <small *ngIf="loginForm.get('username')?.hasError('minlength')">
                    Debe tener al menos 6 caracteres.
                </small>
                <small *ngIf="loginForm.get('username')?.hasError('notFound')">
                    Este usuario no existe.
                </small>
            </div>
        </div>

        <div class="form-group">
            <input type="password" formControlName="password" placeholder="Contraseña"/>
            <div class="error" *ngIf="loginForm.get('password')?.touched">
                <small *ngIf="loginForm.get('password')?.hasError('required')">
                    La contraseña es obligatoria.
                </small>
                <small *ngIf="loginForm.get('password')?.hasError('minlength')">
                    Debe tener al menos 6 caracteres.
                </small>
                <small *ngIf="loginForm.get('password')?.hasError('wrongPassword')">
                    Contraseña incorrecta.
                </small>
            </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>

        <p>¿No tiene una cuenta?  
            <a [routerLink]="['/register']">Crear una</a>
        </p>
    </form>
</div>
