@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";

* {
    font-family: "Raleway", sans-serif;
    color: #F5F5F5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0B0014;
}