.player-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #0B0014;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.5);
  z-index: 100000;
}

/* ==== LEFT SIDE ==== */
.player-left {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 25%;
}

.btn i{
  font-size: 1.3rem;
}

.btn i:hover{
  color: #A020F0;
}

.cover {
  width: 65px;
  height: 65px;
  border-radius: 8px;
  object-fit: cover;
}

.station-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.station-info h4 {
  margin: 0;
  font-size: 1rem;

  margin: 0;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}

.station-info p {
  margin: 0;
  font-size: .8rem;
  color: #ccc;
}

/* ==== CENTER ==== */
.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 50%;
}

.controls {
  display: flex;
  align-items: center;
  gap: 18px;
}

.btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

/* ==== RIGHT ==== */
.player-right {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 25%;
  justify-content: flex-end;
}
.player-right input {
    accent-color: #E100FF;
}

/* ==== RESPONSIVE ==== */
@media (max-width: 768px) {
  .player-footer {
    flex-direction: column;
    height: auto;
    padding: 0.8rem;
    gap: 0.5rem;
  }

  .player-left,
  .player-right {
    width: 100%;
    justify-content: center;
  }

  .player-center {
    width: 100%;
  }

  .progress-bar input[type="range"],
  .volume {
    width: 100px;
  }
}

.error-div {
  width: 65px;
  height: 65px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}
