<button class="hamburger" (click)="toggleSidebar()">
  <i class="pi pi-bars"></i>
</button>

<aside class="sidebar" [class.active]="isOpen">
  <div class="logo">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
      <i class="pi pi-wave-pulse"></i>
    <span>Pulse Radio</span>

    </div>
    
  </div>

  <nav class="menu">
    <a routerLink="/home" routerLinkActive="active"><i class="pi pi-home"></i>Inicio</a>
    <a routerLink="/explore" routerLinkActive="active"><i class="pi pi-compass"></i>Explorar</a>
    <a routerLink="/favorites" *ngIf="isLoggedIn" routerLinkActive="active"><i class="pi pi-heart"></i>Favoritas</a>
    <a *ngIf="isLoggedIn" routerLink="/custom" routerLinkActive="active"><i class="pi pi-headphones"></i>Personalizadas</a>
    <p *ngIf="isLoggedIn" ><i class="pi pi-user"></i>{{username}}</p>
    <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active"><i class="pi pi-user"></i>Iniciar sesión</a>
  </nav>

  <div class="footer">
  <button *ngIf="isLoggedIn" class="logout-btn" (click)="logout()">
    <i class="pi pi-sign-out"></i>
    <span class="tooltip">Cerrar sesión</span>
  </button>
  <div class="created">
    Creado Por
  </div>
  <div class="names-div">
    <p class="copy-logo">&copy;</p>
    <div>
      <p class="name">Miguel Angel Narvaez Portilla</p>
      <p class="name">Darwin David Muñoz Benavides</p>
    </div>
  </div>
</div>
</aside>
